<div *ngIf="!fetchError" class="product-detail-card">
    <h2 class="product-title">A big fake name of a structured product that also happen to have a maturity date on {{minProdAttr.maturityDate | date:'shortDate'}}</h2>
    <div class="product-detail">
        CUSIP : <b>{{minProdAttr.cusip}}</b> <br>
        Market Value : <b>{{minProdAttr.marketValue}}</b> <br>
        Quantity : <b>{{minProdAttr.quantity}}</b> <br>
        Maturity Date : <b>{{minProdAttr.maturityDate}}</b> <br>
        Market View : <b>{{minProdAttr.marketView}}</b> <br>    
    </div>
    
    <div class="product-description">
      <h3> Description : </h3>
      <p class="description-text"> 
        {{minProdAttr.description}}
      </p>
    </div>
    
</div>

<div *ngIf="fetchError" class="error-msg">

  <b>{{cusip}}</b> doesn't exists :(

</div>